<div class="container" ng-controller="searchPanelCtrl">

  <ul class="sidebar-nav">
    <li>
      <a href="#/"></a>
    </li>
    <div>
      <div>Select By Color: {{Data.Color}}</div>
      <select ng-init="searchColor=''" ng-model="Data.Color">
        <option value="">All</option>
        <option value="Green">Green</option>
        <option value="Orange">Orange</option>
        <option value="Red">Red</option>
      </select>
    </div>

    <div>
      <div>Select By Location: {{Data.Location}}</div>
      <select ng-init="searchLoc=''" ng-model="Data.Location">
        <option value="">All</option>
        <option value="Jamaica">Jamaica</option>
        <option value="Panama">Panama</option>
        <option value="USA">USA</option>
        <option value="Spain">Spain</option>
      </select>
    </div>

    <li>
      <a href="#/"></a>
    </li>
  </ul>

  <!-- tt>{{searchColor| json}}</tt><br/ -->

</div>
